.wrapper{
    padding:14rem;
}
.trending-tag{
display: flex;
justify-content: space-between;
align-items: center;
color: gray;
margin-bottom: 1rem;
}
.wraper{
    position: relative;
    text-align: center;
}
/* .style9{
    position: absolute;
    text-align: center;
    width: 10rem;
    height: 1rem;
    top: 17rem;
    left: 6rem;
    background-color: white;
    border: .1rem solid;
} */
.style9>img{
    position: absolute;
    width: 12rem;
    height: 4rem;
    top: 18.4rem;
    left: 6.6rem;
}